# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=affiliate.casino.activity.aggregated.v1
KAFKA_GROUP_ID=affiliar-casino-activity-consumer

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DATABASE=affiliate

# ClickHouse
CLICKHOUSE_HOST=http://localhost:8123
CLICKHOUSE_DATABASE=affiliate
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=

# Batching
BATCH_SIZE=100
SEND_INTERVAL_MS=10000
