# Kafka
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=affiliate.raw.events.v1
KAFKA_GROUP_ID=affiliar-raw-event-consumer

# ClickHouse
CLICKHOUSE_HOST=http://localhost:8123
CLICKHOUSE_DATABASE=affiliate
CLICKHOUSE_USERNAME=admin
CLICKHOUSE_PASSWORD=password

# Batch
BATCH_SIZE=200
SEND_INTERVAL_MS=5000
